/* --------------------------------

Nucleo Outline Web Font - nucleoapp.com/
License - nucleoapp.com/license/
Created using IcoMoon - icomoon.io

-------------------------------- */

@font-face {
  font-family: 'Dazzed';
  src: url('~assets/fonts/dazzed-font/Dazzed-Regular.eot');
  src: url('~assets/fonts/dazzed-font/Dazzed-Regular.eot') format('embedded-opentype'),
  url('~assets/fonts/dazzed-font/Dazzed-Regular.woff2') format('woff2'),
  url('~assets/fonts/dazzed-font/Dazzed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dazzed-Bold';
  src: url('~assets/fonts/dazzed-font/Dazzed-Bold.eot');
  src: url('~assets/fonts/dazzed-font/Dazzed-Bold.eot') format('embedded-opentype'),
  url('~assets/fonts/dazzed-font/Dazzed-Bold.woff2') format('woff2'),
  url('~assets/fonts/dazzed-font/Dazzed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
