.footer{
    padding: 70px 0;
    font-size: $font-paragraph;
    color: $white-color;

    img {
        width: 226px;
        object-fit: contain;
        margin: 18px 0;
    }
    .footer-brand {
        opacity: 0.39;
        filter: brightness(0) invert(1);
    }
    .irish-img {
        width: 122px;
        height: 82px;
        margin-left: 12px;
    }
    .tusla-img {
        width: 122px;
        height: 82px;
    }

    .big-letter {
        width: 44px;
    }

    &.footer-default{
        background-color: $primary-color;
    }

    nav{
        display: inline-block;
        float: left;
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}
