@media screen {
//@media screen and (max-width: 992px){
    .sidebar-collapse{
        @include navbar-collapse();

        &.menu-on-left{
            .navbar-collapse{
                right: auto;
                left: 0;
                @include transform-translate-x(440px);
            }
        }

        .nav-open &{
            .navbar-collapse{
                @include transform-translate-x(0px);
                opacity: 1;
            }

            .wrapper{
                @include transform-translate-x(0px);
            }

            .navbar-translate{
                @include transform-translate-x(440px);
            }

            &.menu-on-left{
                .navbar-collapse{
                    @include transform-translate-x(0px);
                }

                .navbar-translate{
                    @include transform-translate-x(440px);
                }

                .wrapper{
                    @include transform-translate-x(0px);
                }

                #bodyClick{
                    right: 440px;
                    left: auto;
                }
            }
        }
    }

    .navbar-nav .nav-link i.fab,
    .navbar-nav .nav-link i.now-ui-icons {
        opacity: .5;
    }

    .bootstrap-collapse{
        .navbar .navbar-collapse{
            background: none !important;
        }
        @include navbar-responsive();
    }

    .profile-photo .profile-photo-small{
        margin-left: -2px;
    }

    .button-dropdown{
        display: none;
    }

    .section-nucleo-icons .container .row > [class*="col-"]:first-child{
        text-align: center;
    }

    .footer{
        .copyright{
            text-align: right;
        }
    }

    .section-nucleo-icons .icons-container{
        margin-top: 65px;
    }

    .navbar-nav{
        .nav-link{
            i.fa,
            i.now-ui-icons{
                opacity: .5;
            }
        }
    }

    .section-images{
        height: 500px;
        max-height: 500px;

        .hero-images-container{
            max-width: 500px;
        }

        .hero-images-container-1{
            right: 10%;
            top: 68%;
            max-width: 269px;
        }

        .hero-images-container-2{
            right: 5%;
            max-width: 135px;
            top: 93%;
        }
    }
}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px){
    .navbar .navbar-link {
        font-size: 1.6em;
        width: 168px;
    }
    .section {
        padding: 80px 0;
    }
    .section-how-it-slides .slider-block .button-block {
        bottom: 38px;
        padding: 0 60px;
    }
}

@media screen and (min-width: 768px){
    .image-container{
        &.image-right{
            top: 80px;
            margin-left: - 100px;
            margin-bottom: 130px;
        }

        &.image-left{
            margin-right: -100px;
        }
    }
}

@media screen and (max-width: 768px){
    .image-container{
        &.image-left{
            margin-bottom: 220px;

            p.blockquote{
                margin: 0 auto;
                position: relative;
                right: 0;
            }
        }
    }

    .nav-tabs{
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;

        .nav-item > .nav-link{
            margin-bottom: 5px;
        }
    }

    .landing-page .section-story-overview .image-container:nth-child(2){
        margin-left: 0;
        margin-bottom: 30px;
    }

    .navbar .navbar-link {
        font-size: 1.38em;
        width: 144px;
    }
    .navbar .brand-logo {
        width: 154px;
        object-fit: contain;
    }
    .section {
        padding: 62px 0;
    }
    .section-how-it-slides .slider-block {
        min-height: 100vh;
        max-height: 999px;
    }
    .section-how-it-slides .slider-block .title {
        font-size: 2.2em;
    }
    .section-how-it-slides .slider-block .text {
        font-size: 1.2em;
    }
    .section-how-it-slides .slick-dots {
        bottom: 92px;
    }
    .section-how-it-slides .slider-block .button-block {
        bottom: 38px;
        padding: 0 42px;
    }
}

@media screen and (max-width: 576px){
    .navbar[class*='navbar-expand-'] .container{
        margin-left: 0;
        margin-right: 0;
    }

    .footer{
        .copyright{
            text-align: center;
        }
    }
    .full-page-video {
        height: 40vh;
        padding: 30% 0;

        .video-link {
            opacity: 0.9;
            img {
                object-fit: contain;
                width: 62px;
                opacity: 1;
            }
        }
    }
    .section-nucleo-icons{
        .icons-container{
            i{
                font-size: 30px;

                &:nth-child(6){
                    font-size: 48px;
                }
            }
        }
    }

    .page-header{
        .container h6.category-absolute{
            width: 90%;
        }
    }

    .navbar .navbar-link {
        font-size: 1.1em;
        width: 144px;
    }
    .navbar .brand-logo {
        width: 106px;
        object-fit: contain;
        position: relative;
    }
    .navbar .sidebar {
        padding: 24px 32px;
    }
    .section {
        padding: 42px 0;
        h2 {
            font-size: 2.2em;
        }
    }
    .page-header .title {
        font-size: 2.2em;
    }
    .section-whats-in-the-kit .blob-block {
        right: 0;
    }
    .section-how-it-slides .slider-block .title {
        font-size: 2em;
    }
    .section-how-it-slides .slider-block .text {
        font-size: 1em;
    }
    .section-how-it-slides .slick-dots {
        bottom: 112px;
        width: 216px;
    }

    .section-how-it-slides .slider-block .button-block {
        bottom: 42px;
        padding: 0 12px;
        .btn {
            padding: 14px 16px;
        }
        i {
            font-size: 18px;
        }
    }
    .section-how-it-slides .slick-dots li button:before {
        font-size: 22px;
    }
    .section-how-it-slides .slick-dots li {
        padding: 0 4px;
    }
    .section-our-aims .arrow-block {
        min-width: 42px;
        max-width: 42px;
        padding-top: 6px;
        i {
            font-size: 1.8em;
        }
    }
    .section-our-aims .aims-block {
        margin-bottom: 18px;
        h2 {
            font-size: 1.8em;
        }
    }
    .footer {
        padding: 40px 0;
        font-size: 1em;
        p {
            font-size: 1em;
        }
    }
    .section-programmes .accordion-header {
        padding-left: 18px;
    }
    .section-programmes .accordion-content .accordion-content-list {
        margin-bottom: 18px;
    }
    .section-programmes .accordion-content .accordion-content-header {
        min-width: 92px;
        max-width: 92px;

    }
    .section-programmes .accordion-content {
        font-size: 1.1em;
        padding-left: 0;
    }
    .video-modal .close {
        width: 34px;
        height: 34px;
        border-radius: 17px;
        right: -6px;
        top: -17px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px){
    .section-images{
        .hero-images-container-1{
            right: 9%;
            max-width: 370px;
        }

        .hero-images-container-2{
            right: 2%;
            max-width: 216px;
        }
    }
}

@media screen and (max-width: 768px){
    .section-images{
        height: 440px;
        max-height: 440px;

        .hero-images-container{
            max-width: 380px;
        }

        .hero-images-container-1{
            right: 7%;
            top: 87%;
            max-width: 210px;
        }

        .hero-images-container-2{
            right: 1%;
            max-width: 133px;
            top: 99%;
        }
    }
    .section-how-it-slides .slider-block {
        justify-content: unset;
    }
}

@media screen and (max-width: 517px) {
    .alert .alert-icon{
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .section-images{
        .hero-images-container-1{
            top: 51%;
            right: 21%;
        }

        .hero-images-container-2{
            top: 66%;
            right: 14%;
        }
    }
}

// Ipad responsive portrait mode
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and ( orientation : portrait){
    .section-images .hero-images-container,
    .section-images .hero-images-container-1,
    .section-images .hero-images-container-2{
        margin-top: -15vh;
        margin-left: 80px;
    }

    .section-images .hero-images-container{
        max-width: 440px;
    }

    .section-images .hero-images-container-1{
        right: 28%;
        top: 40%;
    }

    .section-images .hero-images-container-2{
        right: 21%;
        top: 55%;
    }

    .index-page .category-absolute{
        top: 90vh;
    }
}

@media screen and (max-width: 580px) {
    .alert{
        button.close{
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media only screen and (min-height: 950px) {
  .index-page .page-header .category-absolute{
    margin-top: -330px;
  }
}


