.section{
    padding: 120px 0;
    position: relative;
    background: $white-color;

    .row + .category{
        margin-top: $margin-base-vertical;
    }

    .title {
      font-family: "Dazzed-Bold", "Helvetica Neue", Arial, sans-serif;
      line-height: 1.3;
    }
}
.section-navbars{
    padding-bottom: 0;
}

.section-full-screen{
    height: 100vh;
}
.full-page-video{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

  .video-link {
    transform: scale(1);
    transition: ease-in 0.2s;
    opacity: 0.6;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      opacity: 1;
    }
  }
}

.video-modal {
  .modal-content {
    background: black;
  }
  .close {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    position: absolute;
    top: -31px;
    right: -31px;
    z-index: 2;
    background: $white-color;
    opacity: 1;

    &:focus {
      outline: none;
    }
  }
}
.wrapper-video {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.player-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-programmes {
  background-color: #e6e5df;
  .accordion {
    border: none;
  }
  .accordion__item + .accordion__item {
    border-top: none;
  }
  .accordion__button {
    background-color: transparent;
  }
  .accordion__button:before {
    display: inline-block;
    content: '';
    height: 12px;
    width: 12px;
    margin-right: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid $primary-color;
    transform: rotate(0deg);
  }
  .accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
    transform: rotate(180deg);
  }
  .accordion-header {
    padding-left: 42px;
    text-decoration: underline;
    color: $primary-color;
    font-size: 1.2em;
  }
  .accordion-content {
    font-size: 1.2em;
    padding-left: 66px;
    color: $primary-color;

    .accordion-content-list {
      display: flex;
      margin-bottom: 42px;
    }
    .accordion-content-header {
      min-width: 122px;
      max-width: 122px;
    }
    .accordion-content-text {

    }
  }
}

.section-whats-in-the-kit {
  padding-bottom: 0;
  .image-block {
    position: relative;
    margin-bottom: 90px;
    .kit-image {
      height: 320px;
      width: 100%;
      object-fit: cover;
    }
  }

  .blob-block {
    position: absolute;
    right: -52px;
    bottom: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 208px;
      transition: 0.7s;
    }
    small {
      color: $primary-color;
      position: absolute;
      width: 50%;
      text-align: center;
      font-size: $font-size-mini;
    }

    &:hover {
      cursor: pointer;
      img {
        transform: rotate(180deg);
      }
    }

  }
}

.section-how-it-slides {
  overflow-x: hidden; //horizontal
  .slider-block {
    min-height: 94vh;
    max-height: 999px;
    padding: 0 0 120px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .title {
      font-size: 2.8em;
    }

    .text {
      font-size: 1.4em;
    }

    .button-block {
      text-align: center;
      position: absolute;
      z-index: 4;
      bottom: 60px;
      width: 100%;
      padding: 0 80px;
      display: flex;
      justify-content: space-between;
      i {
        font-size: 28px;
      }

      .btn {
        position: relative;
        z-index: 4;
      }
    }
  }
  .slick-dots {
    bottom: 120px;
    position: relative;
    width: 246px;
    margin: auto;
    z-index: 1;
  }
  .slick-dots li button:before {
    font-size: 28px;
  }
  .slick-dots li {
    padding: 0 12px;
  }

  .text-blue {
    color: #537DBF;
  }
  .bg-beige {
    background-color: #e6e5df !important;
  }

}

.section-how-it-began {
  background-color: #e6e5df;
}
.section-contact {
  background-color: #f4f4f4;
}

.section-our-aims {
  background-color: $primary-color;
  color: $white-color;

  .aims-block {
    display: flex;
    margin-bottom: 24px;
  }
  .arrow-block {
    min-width: 86px;
    max-width: 86px;
    padding-top: 12px;
    i {
      font-size: 2.25em;
    }
  }
}

.section-contact-us {
  background-color: $white-color;

  .big-letter {
    width: 44px;
  }

  .form-control-lg {
    padding: 1rem 2rem;
    margin-bottom: 16px;
    border: 1px solid $primary-color;
    border-radius: 38px;
    font-size: 1.2em;
  }
  textarea.form-control {
    padding: 1rem 2rem;
    font-size: 1.2em;
    margin-bottom: 16px;
    max-height: 230px;
    border: 1px solid $primary-color;
    border-radius: 28px;

    &:focus, &:active {
      border: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
      border-top: 1px solid $primary-color;
      border-right: 1px solid $primary-color;
    }
  }



}
.section-signup{
    padding-top: 20vh;
}



.page-header{
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: $white-color;
  position: relative;
  overflow: hidden;

  .title {
    font-size: 2.8em;
  }
  & > .content{
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }

  &.page-header-small{
      min-height: 60vh;
      max-height: 440px;
  }
  &.page-header-how-it-works{
      display: flex;
      align-items: center;
  }
  &.page-header-our-story {
      display: flex;
      align-items: center;
    color: $blue-color;

    &:before{
      background-color: rgba(0,0,0,0);
    }
  }

  &:before{
      background-color: rgba(0,0,0,.3);
  }

  > .container{
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
  }

    .page-header-image{
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .content-center{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      color: #FFFFFF;
      padding: 0 15px;
      width: 100%;
      max-width: 760px;
    }

  .content-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    max-width: 760px;
  }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        text-align: center;
        position: relative;
    }

    .category,
    .description{
      color: $opacity-8;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }
}

.clear-filter{
    &:after,
    &:before{
        display: none;
    }

    &[filter-color="orange"]{
        @include linear-gradient(rgba($black-color,.20), rgba(224, 23, 3, 0.6));
    }
}

.section-story-overview{
    padding: 50px 0;

    .image-container{
        height: 335px;
        position: relative;
        background-position: center center;
        background-size: cover;
        box-shadow: $box-shadow-raised;
        border-radius: .25rem;

        & + .category{
            padding-top: 15px;
        }

        &.image-right{
            z-index: 2;

            + h3.title{
                margin-top: 120px;
            }
        }

        &.image-left{
            z-index: 1;
        }

        &:nth-child(2){
            margin-top: 420px;
            margin-left: -105px;
        }
    }

    p.blockquote{
        width: 220px;
        min-height: 180px;
        text-align: left;
        position: absolute;
        top: 376px;
        right: 155px;
        z-index: 0;
    }
}

.section-nucleo-icons{
     .nucleo-container img{
        width: auto;
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
    }

     .nucleo-container{
        height: 335px;
        position: relative;
    }

     h5{
        margin-bottom: 35px;
    }

     .icons-container{
        position: relative;
        max-width: 450px;
        height: 300px;
        max-height: 300px;
        margin: 0 auto;

    }
     .icons-container i{
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;
    }

     .icons-container i:nth-child(1){
        top: 5%;
        left: 7%;
    }

     .icons-container i:nth-child(2){
         top: 28%;
         left: 24%;
    }

     .icons-container i:nth-child(3){
         top: 40%;
    }

     .icons-container i:nth-child(4){
         top: 18%;
         left: 62%;
    }

     .icons-container i:nth-child(5){
         top: 74%;
         left: 3%;
    }

     .icons-container i:nth-child(6){
         top: 36%;
         left: 44%;
        font-size: 65px;
        color: #f96332;
        padding: 1px;
    }

     .icons-container i:nth-child(7){
         top: 59%;
         left: 26%;
    }

     .icons-container i:nth-child(8){
         top: 60%;
         left: 69%;
    }

     .icons-container i:nth-child(9){
        top: 72%;
        left: 47%;
    }

     .icons-container i:nth-child(10){
         top: 88%;
         left: 27%;
    }

     .icons-container i:nth-child(11){
         top: 31%;
         left: 80%;
    }

     .icons-container i:nth-child(12){
         top: 88%;
         left: 68%;
    }

     .icons-container i:nth-child(13){
         top: 5%;
         left: 81%;
    }

     .icons-container i:nth-child(14){
         top: 58%;
         left: 90%;
    }

     .icons-container i:nth-child(15){
        top: 6%;
        left: 40%;
    }
}

.section-images{
    max-height: 670px;
    height: 670px;

    .hero-images-container,
    .hero-images-container-1,
    .hero-images-container-2{
        margin-top: -38vh;
    }

    .hero-images-container{
        max-width: 670px;
    }

    .hero-images-container-1{
        max-width: 390px;
        position: absolute;
        top: 55%;
        right: 18%;

    }

    .hero-images-container-2{
        max-width: 225px;
        position: absolute;
        top: 68%;
        right: 12%;
    }
}


[data-background-color="orange"]{
    background-color: $orange-bg;
}
[data-background-color="black"]{
    background-color: $black-color;
}

[data-background-color]:not([data-background-color="gray"]){
    color: $white-color;

    .title,
    .social-description h2,
    p,
    p.blockquote,
    p.blockquote small{
        color: $white-color;
    }

    .separator{
        background-color: $white-color;
    }

    .navbar.bg-white p{
        color: $default-color;
    }

    h1,h2,h3,h4,h5,h6,a:not(.btn):not(.dropdown-item),
    .icons-container{
      color: $white-color;
    }

    .input-group-text,
    .form-group.no-border .input-group-text,
    .input-group.no-border .input-group-text{
      color: $opacity-8;
    }

    .description,
    .social-description p{
        color: $opacity-8;
    }

    p.blockquote{
        border-color: $opacity-2;
    }

    //radio and checkboxes
    .checkbox label::before,
    .checkbox label::after,
    .radio label::before,
    .radio label::after{
        border-color: $opacity-2;
    }

    .checkbox label::after,
    .checkbox label,
    .radio label{
        color: $white-color;
    }

    .checkbox input[type="checkbox"]:disabled + label,
    .radio input[type="radio"]:disabled + label  {
        color: $white-color;
    }

    .radio input[type="radio"]:not(:disabled):hover + label::after,
    .radio input[type="radio"]:checked + label::after {
        background-color: $white-color;
        border-color: $white-color;
    }

    //inputs
    @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);

    //buttons
    .btn[class*="btn-outline-"] {
        background-color: $transparent-bg;
        border-color: $opacity-5;
        color: $white-color;

        &:hover,
        &:focus,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active:focus,
        &:not(:disabled):not(.disabled).active:focus,
        &:active:hover,
        &.active:hover,
        .show > &.dropdown-toggle,
        .show > &.dropdown-toggle:focus,
        .show > &.dropdown-toggle:hover {
            background-color: $transparent-bg;
            border-color: $white-color;
            color: $white-color;
        }
    }

    //tabs
    .nav-tabs{
        > .nav-item{
            >.nav-link{
                i.now-ui-icons{
                    color: $white-color;
                }
            }
        }
    }

    &.section-nucleo-icons .icons-container i:nth-child(6){
        color: $white-color;
    }
}
